/* VARIABEL WARNA */
:root {
    --pr-color: #6016fc;
    --se--color: rgba(255, 255, 255, 0.1);
    --green--color: #16fcd2;
}

/* INDEX */

/* BODY */
body {
    font-family: "Noto Sans", sans-serif;
    background-image: url("../IMG/BACKGROUND-BODY.png");
    background-size: cover;
}

/* ALL SECTION */

section {
    padding-top: 6rem;
}

/* NAVBAR */
.nav-color {
    background-color: #5f16fc44;
    transition: all ease-in-out 0.3s;
    z-index: 1;
}

.bg-transparent {
    transition: all ease-in-out 0.3s;
}

.navbar-brand.sikabada {
    font-size: 29px;
}

.nav-link:hover {
    font-weight: 700;
    font-size: 19px;
    opacity: 1;
    color: #fff;
}

.nav-link {
    font-size: 19px;
    font-weight: 400;
    color: #fff;
}

.masuk-daftar {
    font-size: 19px;
}

.masuk-daftar a {
    text-decoration: none;
}

.masuk-daftar .button-masuk {
    padding-left: 30px;
    padding-right: 30px;
    height: 39px;
    background-color: var(--se--color);
    border: none;
    border-radius: 3px;
    color: #fff;
}

.masuk-daftar .button-masuk:hover {
    padding-left: 30px;
    padding-right: 30px;
    height: 39px;
    background-color: transparent;
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 3px;
}

.masuk-daftar .button-daftar {
    padding-left: 30px;
    padding-right: 30px;
    height: 39px;
    background-color: var(--pr-color);
    border: none;
    border-radius: 3px;
    color: #fff;
}

.masuk-daftar #daftar:hover {
    padding-left: 30px;
    padding-right: 30px;
    height: 39px;
    background-color: transparent;
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 3px;
}

/* END NAVBAR */

/* BERANDA */

/* TYPING EFFECT */

#beranda .wrapper {
    display: grid;
    place-items: center;
    font-size: 20px;
    color: var(--green--color);
}

#beranda .typing-demo {
    width: 14ch;
    animation: typing 3s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* END TYPING EFFECT */

#beranda .container {
    padding-top: 5rem;
    padding-bottom: 12rem;
}

#beranda .content-beranda .button-beranda a {
    text-decoration: none;
}

.beranda-kalimat h1 {
    font-size: 20px;
    color: var(--green--color);
}

.beranda-kalimat h3 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
}

.beranda-kalimat p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.button-beranda .mulai {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background-color: var(--pr-color);
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.button-beranda .mulai:hover {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background-color: transparent;
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 5px;
}

.button-beranda .selengkapnya {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background-color: var(--se--color);
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.button-beranda .selengkapnya:hover {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background-color: transparent;
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 5px;
}
/* END BERANDA */

/* KAMUS */

#kamus .container h2 {
    font-size: 19px;
    color: #16fcd2;
}

#kamus .container h3 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.form-kamus .container {
    width: 880px;
}

.form-kamus .form-control {
    background-color: var(--se--color);
    border: none;
    color: #fff;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    width: 650px;
}

.form-kamus .terjemahkan {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background-color: var(--pr-color);
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.form-kamus .btn {
    background-color: var(--pr-color);
    color: #fff;
    font-weight: 500;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}

.form-kamus .baris345 {
    width: 860px;
}

.form-kamus .form-label {
    color: #fff;
    font-weight: 700;
    font-size: 23px;
}

.form-kamus .row-kelima {
    height: 200px;
}

.form-kamus .pengucapan {
    width: 772px;
}

/* CALL OUT */

.call-out .btn-tambahkosakata {
    background-color: var(--pr-color);
    color: #fff;
    font-weight: 700;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 19px;
}

.call-out .btn-tambahkosakata:hover {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 19px;
}

.call-out .btn-pertanyaan {
    background-color: var(--se--color);
    color: #fff;
    font-weight: 700;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 19px;
}

.call-out .btn-pertanyaan:hover {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 19px;
}

.call-out .kolom-tombol {
    margin-top: 10px;
}

.call-out .col-6 .col-sm {
    padding-top: 10px;
}

.call-out .col-6 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* END CALL OUT */

/* END KAMUS */

/* EVENT */

.event-container {
    background-color: #221048;
    border-radius: 30px;
    padding: 50px;
}

.event-container .kalimat h2 {
    font-size: 19px;
    color: #16fcd2;
}

.event-container .kalimat h3 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.event-container .card-pertama {
    background-color: #3f2379;
}
.event-container .card-kedua {
    background-color: #233679;
}
.event-container .card-ketiga {
    background-color: #792366;
}

.event-container .btn-card {
    color: var(--pr-color);
    width: 234px;
    height: 40px;
    background-color: #fff;
    font-weight: 700;
    font-size: 19px;
}

.event-container .card {
    color: #fff;
}

.event-container .card:hover {
    border-style: solid;
    border-width: 1px;
    transition: all ease-in-out 0.2s;
    border-color: #fff;
}

.event-container .col-4 {
    padding-top: 25px;
}
/* END EVENT */

/* ARTIKEL */

.container-artikel .kalimat h2 {
    font-size: 19px;
    color: #16fcd2;
}

.container-artikel .kalimat h3 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.container-artikel {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.container-artikel .col-4 {
    padding-top: 25px;
}

.container-artikel .card {
    background-color: transparent;
    color: #fff;
    border: none;
}

.container-artikel .card p {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 17px;
}

.container-artikel .card h {
    font-weight: 700;
    font-size: 20px;
}

.container-artikel .card-body {
    padding-left: 0px;
}

.container-artikel .card:hover {
    border-style: solid;
    border-color: var(--pr-color);
    border-width: 1px;
    transition: all ease-in-out 0.2s;
}

.container-artikel .card-body .btn-artikel {
    color: #fff;
    font-weight: 700;
    border: none;
}

.container-artikel .artikel-button {
    text-decoration: none;
    color: #fff;
}

/* LOAD MORE */

#sembunyikan .btn-sembunyikan {
    background-color: var(--se--color);
    color: #fff;
    font-weight: 700;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 19px;
}

#sembunyikan .btn-sembunyikan:hover {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 19px;
}

.artikel-row .artikel-card {
    display: none;
}

#nocontent p {
    background-color: var(--se--color);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    font-size: 19px;
}

#loadmore .btn-loadmore {
    background-color: var(--se--color);
    color: #fff;
    font-weight: 700;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 19px;
}

#loadmore .btn-loadmore:hover {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 19px;
}
/* END LOADMORE */

/* END ARTIKEL */

/* TENTANG KAMI */

#tentangkami .container h2 {
    font-size: 19px;
    color: #16fcd2;
}

#tentangkami .container h3 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

#tentangkami .container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

#tentangkami .card-coloumn {
    height: 447px;
    background-color: var(--se--color);
    border-radius: 5px;
}

#tentangkami .card-coloumn h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 18px;
}

#tentangkami .card-coloumn h5 {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.6;
}

#tentangkami .card-coloumn p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.6;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tentangkami .social-media .col {
    opacity: 0.6;
}

#tentangkami .social-media .col:hover {
    opacity: 1;
}

#tentangkami .card-developer .card-coloumn:hover {
    border-style: solid;
    border-color: var(--pr-color);
    border-width: 1px;
}

/* END TENTANG KAMI */

/* FOOTER */

.footer-tag .container {
    background-color: #221048;
    border-radius: 30px 30px 0 0;
    height: 350px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    color: #fff;
}

.row-footer .sikabada a {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    padding-left: 5px;
}

.row-footer img {
    padding-top: 0px;
}

.row-footer h5 {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.row-footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

.row-footer p {
    color: rgba(255, 255, 255, 0.6);
}

.row-footer a:hover {
    color: #fff;
}

.row-footer .top {
    color: #fff;
    font-weight: 500;
}
/* END FOOTER */

/* ======================DAFTAR HTML=======================*/

.daftar-container {
    height: 500px;
    width: 700px;
    background-color: #221048;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 22.25px;
}

.daftar-container .row .col-6 .logokembali .tulisan a {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.daftar-container .row .col-6 .logokembali .tulisan a:hover {
    color: #fff;
    text-decoration-line: underline;
    font-size: 26px;
    font-weight: 700;
}

.daftar-container .row .col-6 h3 {
    font-size: 36px;
    font-weight: 700;
}

.daftar-container .form-daftar .tombol-daftar .daftar {
    width: 100%;
    background-color: var(--pr-color);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
}

.daftar-container .form-daftar .tombol-daftar .daftar:hover {
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 3px;
}

.daftar-container .form-daftar .sudah-akun p {
    color: #fff;
}

.daftar-container .form-daftar .sudah-akun a {
    text-decoration: none;
    font-weight: 700;
    color: var(--pr-color);
}

.daftar-container .form-daftar .form-floating .form-control {
    background-color: var(--se--color);
    border: none;
    color: #fff;
}

.daftar-container .form-daftar .form-floating {
    color: #fff;
}

/* ======================END DAFTAR HTML=======================*/

/* ======================MASUK HTML=======================*/

.masuk-container {
    height: 500px;
    width: 700px;
    background-color: #221048;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 22.25px;
}

.masuk-container .row .col-6 .logokembali .tulisan a {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.masuk-container .row .col-6 .logokembali .tulisan a:hover {
    color: #fff;
    text-decoration-line: underline;
    font-size: 26px;
    font-weight: 700;
}

.masuk-container .row .col-6 h3 {
    font-size: 36px;
    font-weight: 700;
}

.masuk-container .form-masuk .tombol-masuk .masuk {
    width: 100%;
    background-color: var(--pr-color);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
}

.masuk-container .form-masuk .tombol-masuk .masuk:hover {
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 3px;
}

.masuk-container .form-masuk .sudah-akun p {
    color: #fff;
}

.masuk-container .form-masuk .sudah-akun a {
    text-decoration: none;
    font-weight: 700;
    color: var(--pr-color);
}

.masuk-container .form-masuk .form-floating .form-control {
    background-color: var(--se--color);
    border: none;
    color: #fff;
}

.masuk-container .form-masuk .form-floating {
    color: #fff;
}

.masuk-container .form-masuk .form-check {
    color: #fff;
}

/* ======================END MASUK HTML=======================*/

/* ======================KRITIK-SARAN HTML=======================*/

.kritiksaran-container {
    height: 500px;
    width: 700px;
    background-color: #221048;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 22.25px;
}

.kritiksaran-container .row .col-6 .logokembali .tulisan a {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.kritiksaran-container .row .col-6 .logokembali .tulisan a:hover {
    color: #fff;
    text-decoration-line: underline;
    font-size: 26px;
    font-weight: 700;
}

.kritiksaran-container .row .col-6 h3 {
    font-size: 36px;
    font-weight: 700;
}

.kritiksaran-container .form-kritiksaran .tombol-kritiksaran .kritiksaran {
    width: 100%;
    background-color: var(--pr-color);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
}

.kritiksaran-container .form-kritiksaran .tombol-kritiksaran .kritiksaran:hover {
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 3px;
}

.kritiksaran-container .form-kritiksaran .sudah-akun p {
    color: #fff;
}

.kritiksaran-container .form-kritiksaran .sudah-akun a {
    text-decoration: none;
    font-weight: 700;
    color: var(--pr-color);
}

.kritiksaran-container .form-kritiksaran .form-floating .form-control {
    background-color: var(--se--color);
    border: none;
    color: #fff;
}

.kritiksaran-container .form-kritiksaran .form-floating {
    color: #fff;
}

.kritiksaran-container .form-kritiksaran .form-check {
    color: #fff;
}

/* ======================END KRITIK-SARAN HTML=======================*/

/* ======================PERTANYAAN HTML=======================*/

.pertanyaan-container {
    height: 500px;
    width: 700px;
    background-color: #221048;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 22.25px;
}

.pertanyaan-container .row .col-6 .logokembali .tulisan a {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.pertanyaan-container .row .col-6 .logokembali .tulisan a:hover {
    color: #fff;
    text-decoration-line: underline;
    font-size: 26px;
    font-weight: 700;
}

.pertanyaan-container .row .col-6 h3 {
    font-size: 36px;
    font-weight: 700;
}

.pertanyaan-container .form-pertanyaan .tombol-pertanyaan .pertanyaan {
    width: 100%;
    background-color: var(--pr-color);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
}

.pertanyaan-container .form-pertanyaan .tombol-pertanyaan .pertanyaan:hover {
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 3px;
}

.pertanyaan-container .form-pertanyaan .sudah-akun p {
    color: #fff;
}

.pertanyaan-container .form-pertanyaan .sudah-akun a {
    text-decoration: none;
    font-weight: 700;
    color: var(--pr-color);
}

.pertanyaan-container .form-pertanyaan .form-floating .form-control {
    background-color: var(--se--color);
    border: none;
    color: #fff;
}

.pertanyaan-container .form-pertanyaan .form-floating {
    color: #fff;
}

.pertanyaan-container .form-pertanyaan .form-check {
    color: #fff;
}

/* ======================END PERTANYAAN HTML=======================*/

/* ======================BLOG HTML=======================*/

.blog-container {
    height: 600px;
    width: 700px;
    background-color: #221048;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 22.25px;
}

.blog-container .row .col-6 .logokembali .tulisan a {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.blog-container .row .col-6 .logokembali .tulisan a:hover {
    color: #fff;
    text-decoration-line: underline;
    font-size: 26px;
    font-weight: 700;
}

.blog-container .row .col-6 h3 {
    font-size: 36px;
    font-weight: 700;
}

.blog-container .form-blog .tombol-blog .blog {
    width: 100%;
    background-color: var(--pr-color);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
}

.blog-container .form-blog .tombol-blog .blog:hover {
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 3px;
}

.blog-container .form-blog .sudah-akun p {
    color: #fff;
}

.blog-container .form-blog .sudah-akun a {
    text-decoration: none;
    font-weight: 700;
    color: var(--pr-color);
}

.blog-container .form-blog .form-floating .form-control {
    background-color: var(--se--color);
    border: none;
    color: #fff;
}

.blog-container .form-blog .form-floating {
    color: #fff;
}

.blog-container .form-blog .form-check {
    color: #fff;
}

.blog-container .row .choose-file .form-control {
    background-color: var(--se--color);
    border: none;
    color: #fff;
}

.blog-container .form-blog .input-group {
    background-color: var(--se--color);
    border: none;
    color: #fff;
}

.blog-container .form-blog .form-label {
    color: #fff;
}

/* ======================END BLOG HTML=======================*/

/* ======================BLOG HTML=======================*/

.buatevent-container {
    height: 600px;
    width: 700px;
    background-color: #221048;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 22.25px;
}

.buatevent-container .row .col-6 .logokembali .tulisan a {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.buatevent-container .row .col-6 .logokembali .tulisan a:hover {
    color: #fff;
    text-decoration-line: underline;
    font-size: 26px;
    font-weight: 700;
}

.buatevent-container .row .col-6 h3 {
    font-size: 36px;
    font-weight: 700;
}

.buatevent-container .form-buatevent .tombol-buatevent .buatevent {
    width: 100%;
    background-color: var(--pr-color);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
}

.buatevent-container .form-buatevent .tombol-buatevent .buatevent:hover {
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.375rem;
    height: 58px;
    font-size: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 3px;
}

.buatevent-container .form-buatevent .sudah-akun p {
    color: #fff;
}

.buatevent-container .form-buatevent .sudah-akun a {
    text-decoration: none;
    font-weight: 700;
    color: var(--pr-color);
}

.buatevent-container .form-buatevent .form-floating .form-control {
    background-color: var(--se--color);
    border: none;
    color: #fff;
}

.buatevent-container .form-buatevent .form-floating {
    color: #fff;
}

.buatevent-container .form-buatevent .form-check {
    color: #fff;
}

.buatevent-container .row .choose-file .form-control {
    background-color: var(--se--color);
    border: none;
    color: #fff;
}

.buatevent-container .form-buatevent .input-group {
    background-color: var(--se--color);
    border: none;
    color: #fff;
}

.buatevent-container .form-buatevent .form-label {
    color: #fff;
}

/* ======================END EVENT HTML=======================*/

/* ======================TENTANG SIKABADA HTML=======================*/

.beranda-tentang-kalimat h1 {
    font-size: 20px;
    color: var(--green--color);
}

.beranda-tentang-kalimat h3 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
}

.beranda-tentang-kalimat p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.content-beranda .tentang-line {
    padding-top: 50px;
    padding-bottom: 62px;
}

.content-beranda .text-tentang p {
    color: #fff;
    font-size: 16px;
    text-align: justify;
    line-height: 35px;
}

.content-beranda .text-tentang h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: start;
}

section .line-tentangsikabada {
    padding-top: 0rem;
}

/* ======================END TENTANG SIKABADA HTML=======================*/

.swal-overlay {
    background-color: #5f16fc46;
}

.swal-text {
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: var(--pr-color);
    font-size: 12px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
