
/* VARIABEL WARNA */
:root {
    --pr-color: #6016fc;
    --se--color: rgba(255, 255, 255, 0.1);
    --green--color: #16FCD2;
}

/* BODY */
body {
    font-family: "Noto Sans", sans-serif;
    background-image: url("../IMG/BACKGROUND-BODY.png");
    background-size: cover;
    height: 5895px;
}

/* ALL SECTION */

section {
    padding-top: 6rem;
}

/* NAVBAR */
.nav-color {
    background-color: var(--se--color);
    transition: all ease-in-out 0.3s;
    z-index: 1;
}

.bg-transparent {
    transition: all ease-in-out 0.3s;
}

.navbar-brand.sikabada {
    font-size: 29px;
}

.nav-link:hover {
    font-weight: 700;
    font-size: 19px;
    opacity: 1;
    color: #fff;
}

.nav-link {
    font-size: 19px;
    font-weight: 400;
    opacity: 0.8;
}

.masuk-daftar {
    font-size: 19px;
}

.masuk-daftar .button-masuk {
    padding-left: 30px;
    padding-right: 30px;
    height: 39px;
    background-color: var(--se--color);
    border: none;
    border-radius: 3px;
    color: #fff;
}

.masuk-daftar .button-daftar {
    padding-left: 30px;
    padding-right: 30px;
    height: 39px;
    background-color: var(--pr-color);
    border: none;
    border-radius: 3px;
    color: #fff;
}

.masuk-daftar #masuk:hover {
    font-weight: 700;
}

.masuk-daftar #daftar:hover {
    font-weight: 700;
}

/* END NAVBAR */

/* BERANDA */

#beranda .container {
    padding-top: 5rem;
    padding-bottom: 12rem;
}

.beranda-kalimat h1 {
    font-size: 20px;
    color: var(--green--color);
}

.beranda-kalimat h3 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
}

.beranda-kalimat p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);

}

.button-beranda .mulai {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background-color: var(--pr-color);
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.button-beranda .selengkapnya {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background-color: var(--se--color);
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
}
/* END BERANDA */

/* KAMUS */

#kamus .container h2 {
    font-size: 19px;
    color: #16FCD2;
}

#kamus .container h3{
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.form-kamus .container {
    width: 880px;
}

.form-kamus .form-control {
    background-color: var(--se--color);
    border: none;
    color: #fff;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    width: 650px;
}

.form-kamus .terjemahkan {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background-color: var(--pr-color);
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.form-kamus .btn {
    background-color: var(--pr-color);
    color: #fff;
    font-weight: 500;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}

.form-kamus .baris345 {
    width: 860px;
}

.form-kamus .form-label {
    color: #fff;
    font-weight: 700;
    font-size: 23px;
}

.form-kamus .row-kelima {
    height: 200px;
}

.form-kamus .pengucapan {
    width: 772px;
}

/* CALL OUT */

.call-out .btn-tambahkosakata {
    background-color: var(--pr-color);
    color: #fff;
    font-weight: 700;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 19px;
}

.call-out .btn-pertanyaan {
    background-color: var(--se--color);
    color: #fff;
    font-weight: 700;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 19px;
}

.call-out .col-6 .col-sm {
    padding-top: 10px;
}

.call-out .col-6 {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* END CALL OUT */

/* END KAMUS */

/* ARTIKEL */



/* END ARTIKEL */